<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<p>
  <b>User Name:</b>
  <%= @user_profile.user_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user_profile.user.email %>
</p>

<p>
  <b>First name:</b>
  <%= @user_profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user_profile.last_name %>
</p>

<p>
  <%= image_tag @user_profile.avatar.url(:medium) %>
</p>

<p>
  <b>Followed Users:</b></br>
  <% @followed_profile_list.each do |followed| %>
  <%= image_tag followed.avatar.url(:thumb) %>
  <%end%>
</p>


<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
